<mat-card>
  <header>
    <h1>Starships</h1>
  </header>
  <mat-divider></mat-divider>
  <div class="input">
    <mat-form-field class="example-full-width" id="form-field">
      <mat-label>Search starship</mat-label>
      <input matInput placeholder="CR90 corvette">
    </mat-form-field>
    <div class="btn-search-container">
      <button mat-stroked-button>Search</button>
    </div>
  </div>
  <div class="starship-list">
    <mat-list role="list" *ngFor="let starship of (starships$ | async)">
      <mat-list-item role="listitem" class="starship-list-item">
        <app-starships-item-list [starship]="starship" class="starship-item"></app-starships-item-list>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>
<router-outlet></router-outlet>
