mat-card {
  color: white;
  background: #454546;
  border: 1px solid #646464;
  border-radius: 10px;
  margin: 2em;
  user-select: none;
}

mat-divider {
  background-color: #646464;
}

.hero-list-item {
  color: white;
  cursor: pointer;
}
.hero-list-item:hover {
  color: white;
  background-color: #646464;
}

.hero-item {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.input {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-content: baseline;
}

#form-field {
  width: 80%;
  color: white;
  margin-top: 20px;

}

mat-label {
  color: white;
}

input {
  color: white;
}

.btn-search-container {
  display: flex;
  margin: auto 0;
}

::placeholder {
  color: white;
}
//.mat-form-field-underline {
//  color: white !important;
//}
