.container {
  display: flex;
}

mat-card {
  width: 20%;
  float: left;
  background: #454546;
  margin: 2em;
  border: 1px solid #646464;
  border-radius: 10px;
  height: 10%;
}

mat-divider {
  background: #646464;
}

a {
  color: white;
  text-decoration: none;
}

button {
  width: 100%;
}


.display-content {
  width: 80%
}
